@font-face {
    font-family: 'Monoton';
    src: url('/font/Monoton/Monoton-Regular.ttf')
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

.scroll-container {
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}

.content {
    text-align: center;
    width: 100%;
}

.page {
    height: 100vh;
    scroll-snap-align: start;
}

.divider-horizontal {
    width: 50%;
    margin: 0 auto;
    border-top: 3px solid rgb(255,255,255) 1;
}

.divider-vertical {
    height: 50%;
    margin: 0 auto;
    border-left: 3px solid rgb(255,255,255);
}

.welcome {
    background: url("/img/welcome-background.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
       -moz-background-size: cover;
         -o-background-size: cover;
            background-size: cover;
}

.band-members {
    background-color: #333;
}

.gallery {
    background-color: #444;
}

.spotify-aboutus {
    background-color: #333;
}

.contactus {
    background: url("/img/contactus-background.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
       -moz-background-size: cover;
         -o-background-size: cover;
            background-size: cover;
}