<div class="aboutUs">
    <h3 class="aboutUs-header">About Us</h3>
    <div class="aboutUs-contact">
        <p>Stereo Transmission is a powerhouse band that emerged in 2023, bringing a grungy twist to blues, garage, and alternative rock. Comprising seasoned musicians who have navigated various musical landscapes, Stereo Transmission brings a raw and unapologetic energy to their sound. The band's formation marked the convergence of diverse talents, resulting in a genre-defying experience. Influenced by classic blues and alternative grunge, Stereo Transmission invites listeners to harness the energy of rock, capturing the essence of rebellion and passion. Get ready for an auditory voyage as Stereo Transmission breaks new ground in the world of grunge-infused blues</p>
    </div>
</div>

<style>
    .aboutUs {
        display: grid;
    }

    .aboutUs-header {
        font-family: 'Monoton';
        font-size: min(4vw, 56px);
        text-align: left;
        text-shadow: 2px 2px 4px #000;
        color: rgb(255,255,255);
        padding: .5rem;
    }

    .aboutUs-contact {
        font-size: min(1.5vw, 24px);
        text-align: left;
        color: rgb(255,255,255);
        padding: 1rem;
    }
</style>