@page "/band-members"

<div class="main page band-members">
    <div class="gallery-container">
        <div class="gallery-item">
            <img class="artist-image" src="img/Noah.jpg" />
            <h2 class="artist-name">Noah Lehman</h2>
            <h3 class="artist-job">Guitar &centerdot; Vocals</h3>
        </div>
        <div class="gallery-item">
            <img class="artist-image" src="img/Graham.jpg" />
            <h2 class="artist-name">Graham Schoeneman</h2>
            <h3 class="artist-job">Bass &centerdot; Vocals</h3>
        </div>
        <div class="gallery-item">
            <img class="artist-image" src="img/Keith.jpg" />
            <h2 class="artist-name">Keith Schreiner</h2>
            <h3 class="artist-job">Drums &centerdot; Percussion</h3>
        </div>
    </div>
</div>

<style>
    .gallery-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .gallery-item {
        text-align: center;
        width: 23rem;
        margin: .5rem 2rem;
        color: rgb(255,255,255);
    }

    .artist-image {
        height: auto;
        width: auto;
        max-height: 35vh;
        max-width: 35vw;
        box-shadow: 4px 4px 8px #000;
        border: 5px solid rgb(255,255,255);
    }

    .artist-name {
        font-size: min(2.5vw, 32px);
    }

    .artist-job {
        font-size: min(1.5vw, 24px);
    }
</style>
