<div class="main page spotify-page">
    <div>
        <iframe class="spotify-player" src="https://open.spotify.com/embed/album/4THcklncAii5bA0AzsoZ9Q?utm_source=generator" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
    </div>

    <div class="social-main">
        <table>
            <tr>
                <td><div class="social-text">Find us where you listen to music!</div></td>
            </tr>
            <tr>
                <td><div class="social-logos">
                    <a href="https://open.spotify.com/artist/1LMbmG2goXx9bY2xMD87OW?si=zFg-bp6XQtmWBUJBjxOr7Q" target="_blank" rel="noopener noreferrer"><img src="img/spotify-white.png" alt="Spotify" width="40vw"></a>
                    <div class="dot-white"></div>
                    <a href="https://www.instagram.com/stereotransmission/" target="_blank" rel="noopener noreferrer"><img src="img/itunes-white.png" alt="Instagram" width="40vw"></a>
                    <div class="dot-white"></div>
                    <a href="https://www.youtube.com/channel/UCus6w_O3zfcZjCzrvRwCwfw" target="_blank" rel="noopener noreferrer"><img src="img/youtube-white.png" alt="Bandcamp" width="40vw"></a>
                </div></td>
            </tr>
        </table>
    </div>
</div>

<style>
    .spotify-page {
        display: flex;
        align-items: end;
    }

    .spotify-player {
        
        width: 30vw;
        height: 30vh;
        max-width: 600px;
        max-width: 600px;
        justify-content: right;
    }

    .social-main {
        padding-left: 5rem;
    }

    .social-text {
        font-size: min(1.90vw, 32px);
        text-align: end;
        color: rgb(255,255,255);
    }

    .social-logos {
        display: flex;
        align-items: center;
        justify-content: right;
    }

    .dot-white {
        height: 1rem;
        width: 1rem;
        margin-left: .5rem;
        margin-right: .5rem;
        background-color: rgb(255,255,255);
        border-radius: 50%;
        display: inline-block;
    }
</style>