
@page "/upcomingshows"

<div class="page upcomingshows">
    <div class="upcomingshows-layout">
        <div class="item">
            <h3 class="upcomingshows-header">Upcoming Shows</h3>
            <div class="upcomingshows-container">
                <div>
                    <p>January 16 at Ten Mile</p>
                    <p>Supporting Dj Williams</p>
                </div>
                
                <div class="divider-vertical" style="height: 10vh; max-height: 200px; padding: 10px;"></div>

                <div>
                    <p>March 22 - 3:30pm</p>
                    <p>at Copper Mountain</p>
                </div>
            </div>
        </div>
    </div>
</div>

@code {

}

<style>
    .upcomingshows-layout {
        display: grid;
        grid-gap: 2rem;
    }

    .item {
        padding-top: 2rem;
        padding-left: 4rem;
        padding-right: 4rem;
        max-width: 1000px;
        width:  60vw;
    }

    .upcomingshows-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        align-self: end;
        flex-direction: row;
        border: 5px solid rgb(255,255,255);
        background-color: #444;
        font-size: min(1.5vw, 24px);
        color: white;
        padding: 0 10px;
    }

    .upcomingshows-header {
        font-family: 'Monoton';
        font-size: min(4vw, 56px);
        text-align: left;
        text-shadow: 2px 2px 4px #000;
        color: rgb(255,255,255);
    }
</style>
