@page "/welcome"

<div class="page welcome">
    <div class="content">
        <div class="header">Stereo Transmission</div>
        <hr class="divider-horizontal">
        <div class="social-links">
            <a href="https://open.spotify.com/artist/1LMbmG2goXx9bY2xMD87OW?si=zFg-bp6XQtmWBUJBjxOr7Q" target="_blank" rel="noopener noreferrer"><img class="welcome-img-logo" src="/img/spotify.png" alt="Spotify"></a>
            <div class="dot"></div>
            <a href="https://www.instagram.com/stereotransmission/" target="_blank" rel="noopener noreferrer"><img class="welcome-img-logo" src="/img/Instagram.png" alt="Instagram"></a>
            <div class="dot"></div>
            <a href="https://stereotransmission.bandcamp.com/" target="_blank" rel="noopener noreferrer"><img class="welcome-img-logo" src="img/bandcamp.png" alt="Bandcamp"></a>
        </div>
    </div>
</div>

<style>
    .header {
        font-family: 'Monoton';
        font-size: 7vw;
        text-align: center;
        padding-top: 2%;
        text-shadow: 2px 2px 4px #000;
        color: rgb(255, 255, 255);
    }

    .social-links {
        text-align: center;
        text-shadow: 1px 1px 2px #000;
    }

    .dot {
        height: .75rem;
        width: .75rem;
        margin-left: .5rem;
        margin-right: .5rem;
        background-color: #000;
        border-radius: 50%;
        display: inline-block;
    }

    .welcome-img-logo {
        width: 7rem;
    }
</style>
